{% extends 'base.html' %} {% block content%}
<h1>Add person</h1>
<p>Add Person</p>
<form method="post">
  {%csrf_token%}
  <label for="first_name">First Name</label>
  <input type="text" name="first_name" id="first_name" />
  <br />
  <br />
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" id="last_name" />
  <br />
  <br />
  <label for="date_missing">Date Missing</label>
  <input type="text" name="date_missing" id="date_missing" />
  <br />
  <br />
  <label for="age_at_missing">Age at Missing</label>
  <input type="text" name="age_at_missing" id="age_at_missing" />
  <br />
  <br />
  <label for="city">City of Origin</label>
  <input type="text" name="city" id="city" />
  <br />
  <br />
  <label for="state">State of Origin (Ex: TX)</label>
  <input type="text" name="state" id="state" />
  <br />
  <br />
  <label for="gender">Gender</label>
  <input type="text" name="gender" id="gender" />
  <br />
  <br />
  <label for="race">Race</label>
  <input type="text" name="race" id="race" />
  <br />
  <button type="submit" class="btn btn-primary">Add Person</button>
</form>
{% endblock%}
