{% extends 'base.html' %} {%load static%} {% block content %}
<!-- right below this comment is the code for the boxes for each person's information-->
<div class="container">
  <div class="row">
    {% for missing_person in missing_persons %}
    <div class="col">
      <div class="card" style="width: 18rem; margin-top: 40px">
        <!-- changing the numbers in the line above ^^ would change how the boxes holding informaiton would look, width, and height-->
        <div class="card -body">
          <h5 class="card-title" style="text-align: center; font-size: 24px">
            {{ missing_person.first_name }} {{ missing_person.last_name}}
          </h5>
          <p class="card-text" style="text-align: center">
            Date Missing: {{ missing_person.date_missing }}
          </p>
          <a
            href="{% url 'missing_person_details' missing_person_id=missing_person.id %}"
            class="btn btn-primary"
            >More Info</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
