<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} CSS only {% endcomment %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Utah Missing Persons</title>
  </head>
  <body>
    <h1>Utah Missing Persons</h1>
    <div class="container">
      <div class="row">
        {% for missing_person in missing_persons %}
        <div class="col">
          <div class="card" style="width: 18rem; margin-top: 40px">
            <div class="card -body">
              <h5
                class="card-title"
                style="text-align: center; font-size: 24px"
              >
                {{ missing_person.first_name }} {{ missing_person.last_name}}
              </h5>
              <p class="card-text" style="text-align: center">
                Date Missing: {{ missing_person.date_missing }}
              </p>
              <a
                href="{% url 'missing_person_details' missing_person_id=missing_person.id %}"
                class="btn btn-primary"
                >More Info</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
